<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="assets/images/LOGO-COMITE.jpg" class="border-circle" alt="logo">
        <h1>COMITE ESTATAL</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <i nz-icon nzType="line-chart"></i>
        <span><a [routerLink]="['inicio']">Dashboard</a></span>
      </li>
      <li nz-submenu nzTitle="Corrales" nzIcon="profile">
        <ul>
          <li nz-menu-item>
            <a [routerLink]="['corrales/nuevoformulario']">Nuevo formulario</a>
          </li>
          <li nz-menu-item>
            <a>Historial de reportes</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Barrido" nzIcon="lock" [nzDisabled]="true">
        <ul>
          <li nz-menu-item>
            <a>Nuevo formulario</a>
          </li>
          <li nz-menu-item>
            <a>Historial lde reportes</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Rastro" nzIcon="lock" [nzDisabled]="true">
        <ul>
          <li nz-menu-item>
            <a>Nuevo formulario</a>
          </li>
          <li nz-menu-item>
            <a>Historial lde reportes</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Colaboradores" nzIcon="team">
        <ul>
          <li nz-menu-item>
            <a>Lista de colaboradores</a>
          </li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="setting"></i>
        <span>Configuración</span>
      </li>
      <li nz-menu-item (click)="logout()">
        <i nz-icon nzType="logout"></i>
        <span>Salir</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>