<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a>
        <img src="assets/images/LOGO-COMITE.jpg" class="rounded-full" alt="logo">
        <h1>COMITE ESTATAL</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <i nz-icon nzType="line-chart"></i>
        <span><a [routerLink]="['inicio']">Data</a></span>
      </li>
      <li nz-submenu nzTitle="Corrales" nzIcon="profile">
        <ul>
          <li nz-menu-item>
            <a [routerLink]="['corrales/nuevoformulario']">Nuevos formularios</a>
          </li>
          <li nz-menu-item>
            <a [routerLink]="['corrales/historialdereportes']">Historial de visitas (PDF)</a>
          </li>
          <li nz-menu-item [nzDisabled]="true">
            <a [routerLink]="['corrales/historialdereportes']">Notificaciones a gobierno</a>
          </li>
          <li nz-menu-item>
            <a [routerLink]="['corrales/directorio']">Directorio</a>
          </li>
          <li nz-menu-item>
            <a [routerLink]="['corrales/colaboradores']">Colaboradores</a>
          </li>
          <li nz-menu-item>
            <a [routerLink]="['corrales/configuracion']">Nuevo colaborador</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Casetas (PVI)" nzIcon="lock" [nzDisabled]="true">
        <ul>
          <li nz-menu-item>
            <a>Nuevo formulario</a>
          </li>
          <li nz-menu-item>
            <a>Historial lde reportes</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Laboratorio" nzIcon="lock" [nzDisabled]="true">
        <ul>
          <li nz-menu-item>
            <a>Nuevo formulario</a>
          </li>
          <li nz-menu-item>
            <a>Historial lde reportes</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Rastro" nzIcon="lock" [nzDisabled]="true">
        <ul>
          <li nz-menu-item>
            <a>Nuevo formulario</a>
          </li>
          <li nz-menu-item>
            <a>Historial lde reportes</a>
          </li>
        </ul>
      </li>
      <!--
        <li nz-menu-item [nzDisabled]="!admin">
        <i nz-icon nzType="setting"></i>
        <span><a [routerLink]="['configuracion']">Configuración</a></span>
      </li>
      -->
      <li nz-menu-item (click)="logout()">
        <i nz-icon nzType="logout"></i>
        <span>Salir</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>