<h2>Datos generales</h2>
<form [formGroup]="generalInfoForm">
    <div class="flex flex-row flex-wrap">
        <div class="m-2">
            <h3>Región</h3>
            <p-dropdown [options]="location" formControlName="region" (onChange)="querySelectedRegionDirectory()" placeholder="Seleccione región" optionValue="region" optionLabel="region" [showClear]="true">
            </p-dropdown>
        </div>
        <div class="m-2">
            <h3>Tipo de corral</h3>
            <p-dropdown [options]="tipoDeCorral" formControlName="tipoDeCorral" (onChange)="filterByCorralType()" placeholder="Seleccione corral" optionValue="tipo" optionLabel="tipo" [showClear]="true">
            </p-dropdown>
        </div>
        <div class="m-2">
            <h3>Nombre</h3>
            <p-dropdown [options]="directoryDataFiltered" formControlName="infoCliente" (onChange)="getClientInfo()" placeholder="Seleccione el nombre" optionLabel="NOMBRE" [showClear]="true">
            </p-dropdown>
        </div>
        <!--Estos son los campos disables autocompletados-->
        <div class="m-2">
            <h3>Propietario</h3>
            <input formControlName="PROPIETARIO" type="text" pInputText>
        </div>
        <div class="m-2">
            <h3>Dirección</h3>
            <input formControlName="DIRECCION" type="text" pInputText>
        </div>
        <div class="m-2">
            <h3>Municipio</h3>
            <input formControlName="MUNICIPIO" type="text" pInputText>
        </div>
        <div class="m-2">
            <h3>PSG</h3>
            <input formControlName="PSG" type="text" pInputText>
        </div>
        <div class="m-2">
            <h3>Latitud</h3>
            <input formControlName="LATITUD" type="text" pInputText>
        </div>
        <div class="m-2">
            <h3>Longitud</h3>
            <input formControlName="LONGITUD" type="text" pInputText>
        </div>
    </div>
</form>
<br>
<h2>Datos del formulario</h2>
<h5>(Leyenda: 0 = No cumple, 1 = Cumple )</h5>
<div *ngFor="let prueba of prueba.seccion1">
    <h3>{{prueba['titulo']}}</h3>
    <div *ngFor="let questionario of prueba.questionario">
        <h4>{{questionario['pregunta']}}</h4>
        <div class="flex flex-row flex-wrap">
            <div class="m-2">
                <h5>Respuesta</h5>
                <p-dropdown [options]="['0','1']" placeholder="Seleccione respuesta" [showClear]="true">
                </p-dropdown>
            </div>
            <div class="m-2">
                <h5>Observaciones</h5>
                <p-dropdown [options]="questionario.respuestas['1']" placeholder="Seleccione respuesta" [showClear]="true">
                </p-dropdown>
            </div>
            <div class="m-2">
                <h5>Observaciones</h5>
                <p-dropdown [options]="questionario.respuestas['0']" placeholder="Seleccione respuesta" [showClear]="true">
                </p-dropdown>
            </div>
            <div class="m-2">
                <h5>Observación del médico</h5>
                <input type="text" pInputText>
            </div>
            <div class="m-2">
                <h5>Fecha de cumplimiento</h5>
                <input type="date" pInputText>
            </div>
        </div>
    </div>
</div>
<div *ngFor="let prueba of prueba.seccion2">
    <h3>{{prueba['titulo']}}</h3>
    <div *ngFor="let questionario of prueba.questionario">
        <h4>{{questionario['pregunta']}}</h4>
        <div class="flex flex-row flex-wrap">
            <div class="m-2">
                <h5>Respuesta</h5>
                <p-dropdown [options]="['0','1']" placeholder="Seleccione respuesta" [showClear]="true">
                </p-dropdown>
            </div>
            <div class="m-2">
                <h5>Observaciones</h5>
                <p-dropdown [options]="questionario.respuestas['1']" placeholder="Seleccione respuesta" [showClear]="true">
                </p-dropdown>
            </div>
            <div class="m-2">
                <h5>Observaciones</h5>
                <p-dropdown [options]="questionario.respuestas['0']" placeholder="Seleccione respuesta" [showClear]="true">
                </p-dropdown>
            </div>
            <div class="m-2">
                <h5>Observación del médico</h5>
                <input type="text" pInputText>
            </div>
            <div class="m-2">
                <h5>Fecha de cumplimiento</h5>
                <input type="date" pInputText>
            </div>
        </div>
    </div>
</div>