<p-toast position="top-right"></p-toast>
<p class="text-xl font-semibold">Datos generales</p>
<form [formGroup]="generalInfoForm">
    <div class="flex flex-row flex-wrap">
        <div class="m-2">
            <h3>Región</h3>
            <p-dropdown [options]="location" formControlName="region" (onChange)="querySelectedRegionDirectory()"
                placeholder="Seleccione región" optionValue="region" optionLabel="region" [showClear]="true">
            </p-dropdown>
        </div>
        <div class="m-2">
            <h3>Tipo</h3>
            <p-dropdown [options]="tipoDeCorral" formControlName="tipoDeCorral" (onChange)="filterByCorralType()"
                placeholder="Seleccione corral" optionValue="tipo" optionLabel="tipo" [showClear]="true">
            </p-dropdown>
        </div>
        <div class="m-2">
            <h3>Nombre de corral</h3>
            <p-dropdown [options]="directoryDataFiltered" formControlName="infoCliente" (onChange)="getClientInfo()"
                placeholder="Seleccione el nombre" optionLabel="NOMBRE" [showClear]="true">
            </p-dropdown>
        </div>
        <div class="m-2">
            <h3>Propietario</h3>
            <input formControlName="PROPIETARIO" type="text" pInputText>
        </div>
        <div class="m-2">
            <h3>Dirección</h3>
            <input formControlName="DIRECCION" type="text" pInputText>
        </div>
        <div class="m-2">
            <h3>Municipio</h3>
            <input formControlName="MUNICIPIO" type="text" pInputText>
        </div>
        <div class="m-2">
            <h3>PSG</h3>
            <input formControlName="PSG" type="text" pInputText>
        </div>
        <div class="m-2">
            <h3>Latitud</h3>
            <input formControlName="LATITUD" type="text" pInputText>
        </div>
        <div class="m-2">
            <h3>Longitud</h3>
            <input formControlName="LONGITUD" type="text" pInputText>
        </div>
        <div class="m-2">
            <h3>Folio</h3>
            <input formControlName="folio" type="text" pInputText>
        </div>
        <div class="m-2">
            <h3>Fecha de captura</h3>
            <input formControlName="fechaDeCaptura" type="date" pInputText>
        </div>
    </div>
</form>
<p-divider></p-divider>
<p class="text-xl font-semibold">Datos del formulario</p>
<br>
<!-- FORMULARIO CACN-->
<form [formGroup]="answersFormCACN" *ngIf="isCACNform">
    <!-- INFORMACIÓN GENERAL SOBRE CACN -->
    <h3>INFORMACIÓN GENERAL</h3>
    <div class="flex flex-row flex-wrap">
        <div class="m-2">
            <h4>Inventario de ganado</h4>
            <input class="fillAvailable" formControlName="inventario_de_ganado" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>CACN</h4>
            <input class="fillAvailable" formControlName="CACN" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>MVZ CACN</h4>
            <input class="fillAvailable" formControlName="MVZ_CACN" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>MVZ RA SUPERVISOR</h4>
            <input class="fillAvailable" formControlName="MVZ_RA_SUPERVISOR" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Número de cabezas ingresadas al CEA</h4>
            <input class="fillAvailable" formControlName="numero_de_cabezas_ingresadas_al_CEA" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Cabezas engordadas</h4>
            <input class="fillAvailable" formControlName="cabezas_engordadas" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Cabezas egresadas del CEA para sacrificio en rastros</h4>
            <input class="fillAvailable" formControlName="cabezas_egresadas_del_CEA_para_sacrificio_en_rastros"
                type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Número de cabezas muertas en el CEA</h4>
            <input class="fillAvailable" formControlName="numero_cabezas_muertas_en_el_CEA" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Número de cabezas en el CEA (último día del mes de evaluación)</h4>
            <input class="fillAvailable" formControlName="numero_cabezas_en_el_CEA_ultimo_dia_mes_evaluacion"
                type="text" pInputText>
        </div>
    </div>
    <p class="text-lg font-semibold" style="text-align: center;">CRITERIOS DE SUPERVISION A CUMPLIR
        ACORDADOS POR LA SECRETARIA DE AGRICULTURA Y GANADERIA DEL GOBIERNO DE SINALOA PARA CORRALES DE ACOPIO DE
        CONSUMO NACIONAL (CACN)</p>
    <!-- PRIMERA SECCIÓN-->
    <h5>(Leyenda: 0 = No cumple, 1 = Cumple )</h5>
    <div formArrayName="CACN_answersSection1">
        <h3>{{formularioCACN.seccion1['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CACN_answersSection1.controls; let i = index">
            <h4>{{formularioCACN.seccion1.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" (onChange)="calculateScoreCACN()" formControlName="respuesta"
                        placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection1[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCACN.seccion1.questionario[i].respuestas['1']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection1[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCACN.seccion1.questionario[i].respuestas['0']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection1[i].respuesta == '0'">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>            
            </div>
        </div>
    </div>
    <br>
    <!-- SEGUNDA SECCIÓN-->
    <div formArrayName="CACN_answersSection2">
        <h3>{{formularioCACN.seccion2['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CACN_answersSection2.controls; let i = index">
            <h4>{{formularioCACN.seccion2.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" (onChange)="calculateScoreCACN()" formControlName="respuesta"
                        placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection2[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCACN.seccion2.questionario[i].respuestas['1']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection2[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCACN.seccion2.questionario[i].respuestas['0']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection2[i].respuesta == '0'">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- TERCERA SECCIÓN-->
    <div formArrayName="CACN_answersSection3">
        <h3>{{formularioCACN.seccion3['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CACN_answersSection3.controls; let i = index">
            <h4>{{formularioCACN.seccion3.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" (onChange)="calculateScoreCACN()" formControlName="respuesta"
                        placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection3[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCACN.seccion3.questionario[i].respuestas['1']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection3[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCACN.seccion3.questionario[i].respuestas['0']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection3[i].respuesta == '0'">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- CUARTA SECCIÓN-->
    <div formArrayName="CACN_answersSection4">
        <h3>{{formularioCACN.seccion4['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CACN_answersSection4.controls; let i = index">
            <h4>{{formularioCACN.seccion4.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" (onChange)="calculateScoreCACN()" formControlName="respuesta"
                        placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection4[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCACN.seccion4.questionario[i].respuestas['1']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection4[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCACN.seccion4.questionario[i].respuestas['0']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection4[i].respuesta == '0'">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="flex justify-content-center mt-3">
        <h3>Calificación: {{scoreCACN}}%</h3>
    </div>
    <br>
    <div class="flex justify-content-center">
        <p-button [disabled]="isUploading" *ngIf="(generalInfoForm.value.fechaDeCaptura != null)" (click)="sendCACN()" label="Terminar formulario CACN"></p-button>
    </div>
</form>
<!-- FORMULARIO CE-->
<form [formGroup]="answersFormCE" *ngIf="isCEform">
    <!-- INFORMACIÓN GENERAL SOBRE CE -->
    <h3>INFORMACIÓN GENERAL</h3>
    <div class="flex flex-row flex-wrap">
        <div class="m-2">
            <h4>Capacidad Instalada del Corral de Engorda</h4>
            <input class="fillAvailable" formControlName="capacidad_instalada" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Capacidad Utilizada del Corral de Engorda</h4>
            <input class="fillAvailable" formControlName="capacidad_utilizada" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Número de corrales Internos</h4>
            <input class="fillAvailable" formControlName="numero_corrales_internos" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Existencia de corrales alternos o de cuarentena</h4>
            <input class="fillAvailable" formControlName="existencia_corrales_alternos_o_cuarentena" type="text"
                pInputText>
        </div>
        <div class="m-2">
            <h4>Numero de Autorización</h4>
            <input class="fillAvailable" formControlName="numero_de_autorizacion" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Vigencia de Autorización</h4>
            <input class="fillAvailable" formControlName="vigencia_de_autorizacion" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Médico Veterinario Responsable de la Supervisión</h4>
            <input class="fillAvailable" formControlName="medico_veterinario_responsable_de_supervision" type="text"
                pInputText>
        </div>
        <div class="m-2">
            <h4>Periodo de la Supervisión</h4>
            <input class="fillAvailable" formControlName="periodo_de_supervision" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Número de cabezas ingresadas al CEA</h4>
            <input class="fillAvailable" formControlName="numero_de_cabezas_ingresadas_al_CEA" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Cabezas engordadas</h4>
            <input class="fillAvailable" formControlName="cabezas_engordadas" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Cabezas egresadas del CEA para sacrificio en rastros</h4>
            <input class="fillAvailable" formControlName="cabezas_egresadas_del_CEA_para_sacrificio_en_rastros"
                type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Número de cabezas muertas en el CEA</h4>
            <input class="fillAvailable" formControlName="numero_cabezas_muertas_en_el_CEA" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Número de cabezas en el CEA (último día del mes de evaluación)</h4>
            <input class="fillAvailable" formControlName="numero_cabezas_en_el_CEA_ultimo_dia_mes_evaluacion"
                type="text" pInputText>
        </div>
    </div>
    <p class="text-lg font-semibold" style="text-align: center;">EVALUACION DEL CUMPLIMIENTO DE LOS
        REQUISITOS DE OPERACIÓN PARA LOS CORRALES DE ENGORDA (CE)</p>
    <h5>(Leyenda: 0 = No cumple, 1 = Cumple )</h5>
    <!-- PRIMERA SECCIÓN-->
    <div formArrayName="CE_answersSection1">
        <h3>{{formularioCE.seccion1['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CE_answersSection1.controls; let i = index">
            <h4>{{formularioCE.seccion1.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" (onChange)="calculateScoreCE()" formControlName="respuesta"
                        placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection1[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCE.seccion1.questionario[i].respuestas['1']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection1[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCE.seccion1.questionario[i].respuestas['0']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection1[i].respuesta == '0'">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- SEGUNDA SECCIÓN-->
    <div formArrayName="CE_answersSection2">
        <h3>{{formularioCE.seccion2['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CE_answersSection2.controls; let i = index">
            <h4>{{formularioCE.seccion2.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" (onChange)="calculateScoreCE()" formControlName="respuesta"
                        placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection2[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCE.seccion2.questionario[i].respuestas['1']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection2[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCE.seccion2.questionario[i].respuestas['0']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection2[i].respuesta == '0'">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- TERCERA SECCIÓN-->
    <div formArrayName="CE_answersSection3">
        <h3>{{formularioCE.seccion3['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CE_answersSection3.controls; let i = index">
            <h4>{{formularioCE.seccion3.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" (onChange)="calculateScoreCE()" formControlName="respuesta"
                        placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection3[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCE.seccion3.questionario[i].respuestas['1']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection3[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCE.seccion3.questionario[i].respuestas['0']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection3[i].respuesta == '0'">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- CUARTA SECCIÓN-->
    <div formArrayName="CE_answersSection4">
        <h3>{{formularioCE.seccion4['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CE_answersSection4.controls; let i = index">
            <h4>{{formularioCE.seccion4.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" (onChange)="calculateScoreCE()" formControlName="respuesta"
                        placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection4[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCE.seccion4.questionario[i].respuestas['1']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection4[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCE.seccion4.questionario[i].respuestas['0']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection4[i].respuesta == '0'">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="flex justify-content-center mt-3">
        <h3>Calificación: {{scoreCE}}%</h3>
    </div>
    <br>
    <div class="flex justify-content-center">
        <p-button [disabled]="isUploading" *ngIf="(generalInfoForm.value.fechaDeCaptura != null)" (click)="sendCE()" label="Terminar formulario CE"></p-button>
    </div>
</form>
<!-- FORMULARIO CEA-->
<form [formGroup]="answersFormCEA" *ngIf="isCEAform">
    <!-- INFORMACIÓN GENERAL SOBRE CEA -->
    <h3>INFORMACIÓN GENERAL - PARTE 1</h3>
    <div class="flex flex-row flex-wrap">
        <div class="m-2">
            <h4>Capacidad Instalada del Corral de Engorda</h4>
            <input class="fillAvailable" formControlName="capacidad_instalada" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Capacidad Utilizada del Corral de Engorda</h4>
            <input class="fillAvailable" formControlName="capacidad_utilizada" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Número de corrales Internos</h4>
            <input class="fillAvailable" formControlName="numero_corrales_internos" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Existencia de corrales alternos o de cuarentena</h4>
            <input class="fillAvailable" formControlName="existencia_corrales_alternos_o_cuarentena" type="text"
                pInputText>
        </div>
        <div class="m-2">
            <h4>Numero de Autorización</h4>
            <input class="fillAvailable" formControlName="numero_de_autorizacion" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Vigencia de Autorización</h4>
            <input class="fillAvailable" formControlName="vigencia_de_autorizacion" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Médico Veterinario Responsable del CEA</h4>
            <input class="fillAvailable" formControlName="medico_veterinario_responsable_del_CEA" type="text"
                pInputText>
        </div>
        <div class="m-2">
            <h4>Médico Veterinario Responsable de la Supervisión</h4>
            <input class="fillAvailable" formControlName="medico_veterinario_responsable_de_supervision" type="text"
                pInputText>
        </div>
        <div class="m-2">
            <h4>Periodo de la Supervisión</h4>
            <input class="fillAvailable" formControlName="periodo_de_supervision" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Número de cabezas ingresadas al CEA</h4>
            <input class="fillAvailable" formControlName="numero_de_cabezas_ingresadas_al_CEA" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Cabezas engordadas</h4>
            <input class="fillAvailable" formControlName="cabezas_engordadas" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Cabezas egresadas del CEA para sacrificio en rastros</h4>
            <input class="fillAvailable" formControlName="cabezas_egresadas_del_CEA_para_sacrificio_en_rastros"
                type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Número de cabezas muertas en el CEA</h4>
            <input class="fillAvailable" formControlName="numero_cabezas_muertas_en_el_CEA" type="text" pInputText>
        </div>
        <div class="m-2">
            <h4>Número de cabezas en el CEA (último día del mes de evaluación)</h4>
            <input class="fillAvailable" formControlName="numero_cabezas_en_el_CEA_ultimo_dia_mes_evaluacion"
                type="text" pInputText>
        </div>
    </div>
    <p class="text-lg font-semibold" style="text-align: center;">EVALUACION DEL CUMPLIMIENTO DE LOS
        REQUISITOS DE OPERACIÓN PARA LOS CORRALES DE ENGORDA APROBADOS (CEA)</p>
    <h5>(Leyenda: 0 = No cumple, 1 = Cumple )</h5>
    <!-- PRIMERA SECCIÓN-->
    <div formArrayName="CEA_answersSection1">
        <h3>{{formularioCEA.seccion1['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CEA_answersSection1.controls; let i = index">
            <h4>{{formularioCEA.seccion1.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" (onChange)="calculateScoreCEA()" formControlName="respuesta"
                        placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCEA.value.CEA_answersSection1[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCEA.seccion1.questionario[i].respuestas['1']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCEA.value.CEA_answersSection1[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCEA.seccion1.questionario[i].respuestas['0']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2" *ngIf="answersFormCEA.value.CEA_answersSection1[i].respuesta == '0'">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- SEGUNDA SECCIÓN-->
    <div formArrayName="CEA_answersSection2">
        <h3>{{formularioCEA.seccion2['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CEA_answersSection2.controls; let i = index">
            <h4>{{formularioCEA.seccion2.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" (onChange)="calculateScoreCEA()" formControlName="respuesta"
                        placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCEA.value.CEA_answersSection2[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCEA.seccion2.questionario[i].respuestas['1']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCEA.value.CEA_answersSection2[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCEA.seccion2.questionario[i].respuestas['0']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2" *ngIf="answersFormCEA.value.CEA_answersSection2[i].respuesta == '0'">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- TERCERA SECCIÓN-->
    <div formArrayName="CEA_answersSection3">
        <h3>{{formularioCEA.seccion3['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CEA_answersSection3.controls; let i = index">
            <h4>{{formularioCEA.seccion3.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" (onChange)="calculateScoreCEA()" formControlName="respuesta"
                        placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCEA.value.CEA_answersSection3[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCEA.seccion3.questionario[i].respuestas['1']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCEA.value.CEA_answersSection3[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCEA.seccion3.questionario[i].respuestas['0']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2" *ngIf="answersFormCEA.value.CEA_answersSection3[i].respuesta == '0'">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- CUARTA SECCIÓN-->
    <div formArrayName="CEA_answersSection4">
        <h3>{{formularioCEA.seccion4['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CEA_answersSection4.controls; let i = index">
            <h4>{{formularioCEA.seccion4.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" (onChange)="calculateScoreCEA()" formControlName="respuesta"
                        placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCEA.value.CEA_answersSection4[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCEA.seccion4.questionario[i].respuestas['1']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCEA.value.CEA_answersSection4[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCEA.seccion4.questionario[i].respuestas['0']"
                        formControlName="observaciones" [editable]="true" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2" *ngIf="answersFormCEA.value.CEA_answersSection4[i].respuesta == '0'">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="flex justify-content-center mt-3">
        <h3>Calificación: {{scoreCEA}}%</h3>
    </div>
    <br>
    <div class="flex justify-content-center">
        <p-button [disabled]="isUploading" *ngIf="(generalInfoForm.value.fechaDeCaptura != null)" (click)="sendCEA()" label="Terminar formulario CEA"></p-button>
    </div>
</form>
<!-- MENSAJE DE QUE AÚN NO SE HA ELEGIDO FORMULARIO -->
<div class="flex flex-column justify-content-center align-items-center" *ngIf="isNothing">
    <i nz-icon nzType="loading" style="font-size: 32px; margin: 16px; color: blue;" nzTheme="outline" *ngIf="isLoading"></i>
    <h3>- Primero debe seleccionar un tipo de corral -</h3>
</div>