<h2>Datos generales</h2>
<form [formGroup]="generalInfoForm">
    <div class="flex flex-row flex-wrap">
        <div class="m-2">
            <h3>Región</h3>
            <p-dropdown [options]="location" formControlName="region" (onChange)="querySelectedRegionDirectory()"
                placeholder="Seleccione región" optionValue="region" optionLabel="region" [showClear]="true">
            </p-dropdown>
        </div>
        <div class="m-2">
            <h3>Tipo de corral</h3>
            <p-dropdown [options]="tipoDeCorral" formControlName="tipoDeCorral" (onChange)="filterByCorralType()"
                placeholder="Seleccione corral" optionValue="tipo" optionLabel="tipo" [showClear]="true">
            </p-dropdown>
        </div>
        <div class="m-2">
            <h3>Nombre</h3>
            <p-dropdown [options]="directoryDataFiltered" formControlName="infoCliente" (onChange)="getClientInfo()"
                placeholder="Seleccione el nombre" optionLabel="NOMBRE" [showClear]="true">
            </p-dropdown>
        </div>
        <!--Estos son los campos disables autocompletados-->
        <div class="m-2">
            <h3>Propietario</h3>
            <input formControlName="PROPIETARIO" type="text" pInputText>
        </div>
        <div class="m-2">
            <h3>Dirección</h3>
            <input formControlName="DIRECCION" type="text" pInputText>
        </div>
        <div class="m-2">
            <h3>Municipio</h3>
            <input formControlName="MUNICIPIO" type="text" pInputText>
        </div>
        <div class="m-2">
            <h3>PSG</h3>
            <input formControlName="PSG" type="text" pInputText>
        </div>
        <div class="m-2">
            <h3>Latitud</h3>
            <input formControlName="LATITUD" type="text" pInputText>
        </div>
        <div class="m-2">
            <h3>Longitud</h3>
            <input formControlName="LONGITUD" type="text" pInputText>
        </div>
    </div>
</form>
<p-divider></p-divider>
<h2>Datos del formulario</h2>
<h5>(Leyenda: 0 = No cumple, 1 = Cumple )</h5>
<br>
<!-- FORMULARIO CACN-->
<form [formGroup]="answersFormCACN" *ngIf="false">
    <!-- PRIMERA SECCIÓN-->
    <div formArrayName="CACN_answersSection1">
        <h3>{{formularioCACN.seccion1['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CACN_answersSection1.controls; let i = index">
            <h4>{{formularioCACN.seccion1.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" formControlName="respuesta" placeholder="Seleccione respuesta"
                        [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection1[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCACN.seccion1.questionario[i].respuestas['1']"
                        formControlName="observaciones" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2"*ngIf="answersFormCACN.value.CACN_answersSection1[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCACN.seccion1.questionario[i].respuestas['0']"
                        formControlName="observaciones" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- SEGUNDA SECCIÓN-->
    <div formArrayName="CACN_answersSection2">
        <h3>{{formularioCACN.seccion2['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CACN_answersSection2.controls; let i = index">
            <h4>{{formularioCACN.seccion2.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" formControlName="respuesta" placeholder="Seleccione respuesta"
                        [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection2[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCACN.seccion2.questionario[i].respuestas['1']"
                        formControlName="observaciones" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection2[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCACN.seccion2.questionario[i].respuestas['0']"
                        formControlName="observaciones" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- TERCERA SECCIÓN-->
    <div formArrayName="CACN_answersSection3">
        <h3>{{formularioCACN.seccion3['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CACN_answersSection3.controls; let i = index">
            <h4>{{formularioCACN.seccion3.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" formControlName="respuesta" placeholder="Seleccione respuesta"
                        [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection3[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCACN.seccion3.questionario[i].respuestas['1']"
                        formControlName="observaciones" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection3[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCACN.seccion3.questionario[i].respuestas['0']"
                        formControlName="observaciones" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- CUARTA SECCIÓN-->
    <div formArrayName="CACN_answersSection4">
        <h3>{{formularioCACN.seccion4['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CACN_answersSection4.controls; let i = index">
            <h4>{{formularioCACN.seccion4.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" formControlName="respuesta" placeholder="Seleccione respuesta"
                        [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection4[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCACN.seccion4.questionario[i].respuestas['1']"
                        formControlName="observaciones" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCACN.value.CACN_answersSection4[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCACN.seccion4.questionario[i].respuestas['0']!"
                        formControlName="observaciones" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="flex justify-content-center">
        <p-button (click)="sendCACN()" label="Terminar formulario"></p-button>
    </div>
</form>
<!-- FORMULARIO CE-->
<form [formGroup]="answersFormCE" *ngIf="true">
    <!-- PRIMERA SECCIÓN-->
    <div formArrayName="CE_answersSection1">
        <h3>{{formularioCE.seccion1['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CE_answersSection1.controls; let i = index">
            <h4>{{formularioCE.seccion1.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" formControlName="respuesta" placeholder="Seleccione respuesta"
                        [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection1[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCE.seccion1.questionario[i].respuestas['1']"
                        formControlName="observaciones" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2"*ngIf="answersFormCE.value.CE_answersSection1[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCE.seccion1.questionario[i].respuestas['0']"
                        formControlName="observaciones" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- SEGUNDA SECCIÓN-->
    <div formArrayName="CE_answersSection2">
        <h3>{{formularioCE.seccion2['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CE_answersSection2.controls; let i = index">
            <h4>{{formularioCE.seccion2.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" formControlName="respuesta" placeholder="Seleccione respuesta"
                        [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection2[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCE.seccion2.questionario[i].respuestas['1']"
                        formControlName="observaciones" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection2[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCE.seccion2.questionario[i].respuestas['0']"
                        formControlName="observaciones" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- TERCERA SECCIÓN-->
    <div formArrayName="CE_answersSection3">
        <h3>{{formularioCE.seccion3['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CE_answersSection3.controls; let i = index">
            <h4>{{formularioCE.seccion3.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" formControlName="respuesta" placeholder="Seleccione respuesta"
                        [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection3[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCE.seccion3.questionario[i].respuestas['1']"
                        formControlName="observaciones" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection3[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCE.seccion3.questionario[i].respuestas['0']"
                        formControlName="observaciones" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- CUARTA SECCIÓN-->
    <div formArrayName="CE_answersSection4">
        <h3>{{formularioCE.seccion4['titulo']}}</h3>
        <div *ngFor="let singleAnswer of CE_answersSection4.controls; let i = index">
            <h4>{{formularioCE.seccion4.questionario[i].pregunta}}</h4>
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
                <div class="m-2">
                    <h5>Respuesta</h5>
                    <p-dropdown [options]="['0','1']" formControlName="respuesta" placeholder="Seleccione respuesta"
                        [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection4[i].respuesta == '1'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCE.seccion4.questionario[i].respuestas['1']"
                        formControlName="observaciones" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2" *ngIf="answersFormCE.value.CE_answersSection4[i].respuesta == '0'">
                    <h5>Observaciones</h5>
                    <p-dropdown [options]="formularioCE.seccion4.questionario[i].respuestas['0']!"
                        formControlName="observaciones" placeholder="Seleccione respuesta" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="m-2">
                    <h5>Observación del médico</h5>
                    <input type="text" formControlName="observacionesDelMedico" pInputText>
                </div>
                <div class="m-2">
                    <h5>Fecha de cumplimiento</h5>
                    <input type="date" formControlName="fechaDeCumplimiento" pInputText>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="flex justify-content-center">
        <p-button (click)="sendCACN()" label="Terminar formulario"></p-button>
    </div>
</form>

