<div *ngIf="false" class="flex loginHeight align-items-center justify-content-center">
    <div class="surface-card p-4 shadow-8 border-round w-full">
        <div class="text-center mb-5">
            <img src="assets/images/LOGO-COMITE.jpg" alt="Image" height="80" class="mb-3">
            <div class="text-900 text-xl font-medium mb-3">COMITE ESTATAL DE FOMENTO Y PROTECCIÓN PECUARIA DE SINALOA
            </div>
        </div>

        <div>
            <form >
                <label for="email" class="block text-900 font-medium mb-2">Usuario</label>
                <input id="email" type="email" pInputText class="w-full mb-3">

                <label for="password" class="block text-900 font-medium mb-2">Contraseña</label>
                <input id="password"  type="password" pInputText class="w-full mb-3">

                <div class="flex align-items-center justify-content-between mb-5">
                    <div class="flex align-items-center">
                        <p-checkbox id="rememberme" [binary]="true" styleClass="mr-2"></p-checkbox>
                        <label for="rememberme">Recuérdame</label>
                    </div>
                    <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Olvidaste tu
                        contraseña?</a>
                </div>
                <div class="flex align-items-center justify-content-center" *ngIf="isLoading">
                    <i nz-icon nzType="loading" style="font-size: 36px; margin: 20px; color: blue;" nzTheme="outline"></i>
                </div>
                <button (click)="login()" pButton pRipple label="Ingresar" class="w-full"></button>
            </form>
        </div>
    </div>
</div>

<div class="flex flex-col w-full h-screen justify-center items-center bg-blue-400">
    <div class="w-full max-w-sm mx-auto overflow-hidden bg-white rounded-2xl shadow-2xl dark:bg-gray-800 py-6">
        <div class="px-6 py-4">
            <div class="flex flex-row justify-center">
                <img src="assets/images/LOGO-COMITE.jpg" alt="Image" class="h-20 mb-3">
            </div>

            <h3 class="mt-1 text-xl font-medium text-center text-gray-600 dark:text-gray-200">COMITE ESTATAL DE FOMENTO Y PROTECCIÓN PECUARIA DE SINALOA</h3>
            <form [formGroup]="userCredentialsForm" (ngSubmit)="login()">
                <div class="w-full mt-4">
                    <input formControlName="email" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-500 bg-white border rounded-md dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" type="email" placeholder="Correo" aria-label="Email Address" />
                </div>

                <div class="w-full mt-4">
                    <input formControlName="password" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-500 bg-white border rounded-md dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" type="password" placeholder="Contraseña" aria-label="Password" />
                </div>
                <div class="flex flex-row justify-center" *ngIf="isLoading">
                    <i nz-icon nzType="loading" style="font-size: 36px; margin: 20px; color: blue;" nzTheme="outline"></i>
                </div>
                <div class="flex items-center justify-between mt-4">
                    <a href="#" class="text-sm text-gray-600 dark:text-gray-200 hover:text-gray-500">Olvidaste tu contraseña?</a>

                    <button class="px-4 py-2 leading-5 text-white transition-colors duration-200 transform bg-blue-600 rounded hover:bg-gray-600 focus:outline-none" type="submit">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="flex flex-row space-x-3 pt-8">
        <p class="text-base font-semibold text-white">Powered by</p>
        <img src="assets/images/NESVALv2FullWhite.svg" alt="NesvalSolutions" class="h-8">
    </div>
</div>