<div class="flex flex-col">
    <p class="text-2xl font-semibold mb-1">Dashboard General</p>
    <hr class="mb-3">
    <!--Sección de tarjetas-->
    <div class="flex flex-row flex-wrap justify-around py-6">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="CACNface-0 p-3 border-2 rounded-2xl shadow-md w-52">
                <div class="flex justify-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Formulario totales</span>
                        <div class="text-900 font-medium text-xl" *ngIf="!isLoading">{{total_number_of_forms}}</div>
                        <i nz-icon nzType="loading" nzTheme="outline" *ngIf="isLoading"></i>
                    </div>
                    <div class="flex justify-center items-center bg-purple-100 rounded-xl"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-inbox text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-500">Actualizado: </span>
                <span class="text-green-500 font-medium">{{actualizationHour}}</span>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="CACNface-0 p-3 border-2 rounded-2xl shadow-md w-52">
                <div class="flex justify-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Formularios CACN</span>
                        <div class="text-900 font-medium text-xl" *ngIf="!isLoading">{{cacn_number}}</div>
                        <i nz-icon nzType="loading" nzTheme="outline" *ngIf="isLoading"></i>
                    </div>
                    <div class="flex justify-center items-center bg-blue-100 rounded-xl"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-inbox text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-500">Actualizado: </span>
                <span class="text-green-500 font-medium">{{actualizationHour}}</span>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="CACNface-0 p-3 border-2 rounded-2xl shadow-md w-52">
                <div class="flex justify-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Formularios CE</span>
                        <div class="text-900 font-medium text-xl" *ngIf="!isLoading">{{ce_number}}</div>
                        <i nz-icon nzType="loading" nzTheme="outline" *ngIf="isLoading"></i>
                    </div>
                    <div class="flex justify-center items-center bg-red-100 rounded-xl"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-inbox text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-500">Actualizado: </span>
                <span class="text-green-500 font-medium">{{actualizationHour}}</span>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="CACNface-0 p-3 border-2 rounded-2xl shadow-md w-52">
                <div class="flex justify-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Formulario CEA</span>
                        <div class="text-900 font-medium text-xl" *ngIf="!isLoading">{{cea_number}}</div>
                        <i nz-icon nzType="loading" nzTheme="outline" *ngIf="isLoading"></i>
                    </div>
                    <div class="flex justify-center items-center bg-green-100 rounded-xl"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-500">Actualizado: </span>
                <span class="text-green-500 font-medium">{{actualizationHour}}</span>
            </div>
        </div>
    </div>
    <p class="text-lg font-medium mb-3">Información de tendencias</p>
    <p-button label="Descargar" class="m-3" icon="pi pi-book" (click)="generateExcelTendencias()"></p-button>
    <div class="flex flex-col mt-3">
        <p class="text-lg font-medium mb-3">Gráfica de tendencias</p>
        <i class="mt-2 ml-2" nz-icon nzType="loading" nzTheme="outline" *ngIf="isLoadingGraphdata"></i>
    </div>
    <!--Gráfica de tendencias-->
    <div class="flex flex-row py-1 flex-wrap">
        <form [formGroup]="graphInfo">
            <div class="flex flex-column px-1 py-1">
                <nz-select class='py-1' nzAllowClear nzPlaceHolder="Seleccione tipo de corral"
                    (ngModelChange)="filterByCorralType()" formControlName="tipo_de_corral">
                    <nz-option nzValue="CACN" nzLabel="CACN"></nz-option>
                    <nz-option nzValue="CE" nzLabel="CE"></nz-option>
                    <nz-option nzValue="CEA" nzLabel="CEA"></nz-option>
                </nz-select>
                <nz-select class='py-1' nzShowSearch nzAllowClear nzPlaceHolder="Seleccione nombre de corral"
                    formControlName="nombre_de_corral">
                    <nz-option *ngFor="let corral of nombres_de_corrales" [nzLabel]="corral" [nzValue]="corral">
                    </nz-option>
                </nz-select>
                <p-button label="Visualizar" class="m-3" icon="" (click)="generateGraph()"></p-button>
            </div>
        </form>
        <div class="px-3 py-1" style="width: 600px; height: 400px">
            <canvas id="myChart" width="600" height="400"></canvas>
        </div>
    </div>
    <!--Gráfica de incumplimientos-->
    <p class="text-lg font-medium mb-3">Gráfica de Incumplimientos</p>
    <div class="px-3 py-1" style="width: 600px; height: 400px">
        <canvas id="myChart2" width="600" height="400"></canvas>
    </div>
    <!--Tabla de Incumplimientos CACN-->
    <p class="text-lg font-medium mb-3">Tabla de Incumplimientos CACN</p>
    <table>
        <tr>
            <th>Frecuencia</th>
            <th>Observación</th>
        </tr>
        <tr *ngFor="let incumplimiento of incumplimientos_cacn">
            <td>{{incumplimiento[1]}}</td>
            <td>{{incumplimiento[0]}}</td>
        </tr>
    </table>
    <!--Tabla de Incumplimientos CEA-->
    <p class="text-lg font-medium mb-3">Tabla de Incumplimientos CEA</p>
    <table>
        <tr>
            <th>Frecuencia</th>
            <th>Observación</th>
        </tr>
        <tr *ngFor="let incumplimiento of incumplimientos_cea">
            <td>{{incumplimiento[1]}}</td>
            <td>{{incumplimiento[0]}}</td>
        </tr>
    </table>
    <!--Tabla de Incumplimientos CE-->
    <p class="text-lg font-medium mb-3">Tabla de Incumplimientos CE</p>
    <table>
        <tr>
            <th>Frecuencia</th>
            <th>Observación</th>
        </tr>
        <tr *ngFor="let incumplimiento of incumplimientos_ce">
            <td>{{incumplimiento[1]}}</td>
            <td>{{incumplimiento[0]}}</td>
        </tr>
    </table>
</div>